[build-system]
requires = ['setuptools', 'setuptools_scm[toml]']
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]

[project]
name = 'jewcal'
description = 'Convert Gregorian to Jewish dates and get shabbos / yom tov details for Diaspora.'
keywords = [
  'jewish calendar',
]
license = { text = 'MIT' }
dynamic = ['version']
authors = [{ name='essel-dev', email='info@essel.dev' }]
readme = 'README.md'
requires-python = '>=3.10.5'
dependencies = []

[project.urls]
'Homepage' = 'https://github.com/essel-dev/jewcal'
'Bug Tracker' = 'https://github.com/essel-dev/jewcal/issues'

[project.optional-dependencies]
dev = [
  'pre-commit',
  'tox',
]

[tool.mypy]
files = 'src, tests'
strict = true
show_error_codes = true
enable_error_code = ['ignore-without-code', 'redundant-expr', 'truthy-bool']
warn_unreachable = true
namespace_packages = true
explicit_package_bases = true
exclude = [
    '^_version\.py$',
]
